<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="col-xs-4 hidden-xs">
            <div class="navbar-header">
                <a href="#/user/{{model.userId}}/website" class="navbar-text navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
                <a class="navbar-brand">
                    Websites
                </a>
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.userId}}/website/new" class="navbar-link">
                        <span class="glyphicon glyphicon-plus">
                        </span>
                    </a>
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="navbar-header">
                <a href="#/user/{{model.userId}}/website" class="navbar-text pull-left navbar-link visible-xs">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
                <a class="navbar-brand">
                    New Website
                </a>
                <p class="navbar-text pull-right">
                    <button form="newWebsiteForm" type="submit"
                            class="navbar-link btn update-btn" ng-click="model.addWebsite(model.website)">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                    </button>
                </p>
            </div>
        </div>
    </div>
</nav>

<div class="col-xs-4 hidden-xs scroll-y">
    <div class="row container-fluid">
        <ul class="list-group">
            <li ng-repeat="website in model.websites" class="list-group-item">
                <a href="#/user/{{model.userId}}/website/{{website._id}}/page">
                    {{website.name}}
                </a>
                <a href="#/user/{{model.userId}}/website/{{website._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog">
                </span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div class="col-xs-12 col-sm-8">
    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>
    <form name="newWebsiteForm" id="newWebsiteForm" novalidate>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.website.name" type="text" class="form-control" id="name" placeholder="Name" name="name" required/>
        </div>
        <div ng-show="newWebsiteForm.name.$invalid && newWebsiteForm.$submitted"
             class="error">
            Website Name is required
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            <textarea ng-model="model.website.description" class="form-control" rows="5" id="description" placeholder="Description"></textarea>
        </div>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>