input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 65px;
}

.list-group-item {
    border: none;
}

.navbar-default {
    background-color: #337ab7;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.glyphicon {
    color: #fff;
}

.glyphicon-cog, .glyphicon-menu-hamburger {
    color: #337ab7;
}

.navbar-header {
    width:100%;
}

.pull-left {
    margin-left: 10px;
}

.v-divider {
    margin-top: -50px;
    border-right: 1px solid lightgray;
    height: 100vh;
    -webkit-border-vertical-spacing: 20px;
}

.relative-position {
    position: relative;
}

.list-element-menu {
    top: 0px;
    right: 0px;
    z-index: 10;
    background-color: white;
    position: absolute;
}