input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 65px;
}

.navbar-default {
    background-color: #337ab7;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar .nav.pull-right {
    margin-right: 15px;
}