input.form-control {
    margin-bottom: 5px;
}

body {
    padding-top: 65px;
    overflow: hidden;
}

.list-group-item {
    border: none;
}

.navbar-default {
    background-color: #337ab7;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.glyphicon {
    color: #fff;
}

.glyphicon-cog {
    color: #337ab7;
}

.navbar-header {
    width:100%;
}

.pull-left {
    margin-left: 10px;
}

