<div class="scroll-y">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="col-xs-4 hidden-xs">
            <div class="navbar-header">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page" class="navbar-text navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
                <a class="navbar-brand">
                    Pages
                </a>
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/new" class="navbar-link">
                        <span class="glyphicon glyphicon-plus">
                        </span>
                    </a>
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="navbar-header">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page"
                   class="navbar-text pull-left navbar-link visible-xs">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
                <a class="navbar-brand">
                    New Page
                </a>
                <p class="navbar-text pull-right">
                    <a ng-click="model.addPage(model.page)" class="navbar-link">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>

<div class="col-xs-4 hidden-xs">
    <div class="row container-fluid">
        <ul class="list-group">
            <li ng-repeat="page in model.pages" class="list-group-item">
                <a href="#/user/{{model.userId}}/website/{{model.websites}}/page/{{page._id}}/widget">
                    {{page.name}}
                </a>
                <a href="#/user/{{model.userId}}/website/{{model.websites}}/page/{{page._id}}" class="pull-right">
                <span class="glyphicon glyphicon-cog">
                </span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="col-xs-12 col-sm-8">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input ng-model="model.page.name" type="text" class="form-control" id="name" placeholder="Page Name"/>
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input ng-model="model.page.title" type="text" class="form-control" id="title" placeholder="Page Title"/>
        </div>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>
</div>