<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="../website/website-list.view.client.html" class="navbar-text pull-left navbar-link">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
            <a class="navbar-brand" href="#">
                Pages
            </a>
            <p class="navbar-text pull-right">
                <a href="page-new.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-plus">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="../../widget-list.html">Blog Post</a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog">
                </span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../../widget-list.html">Blogs</a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog">
                </span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../../widget-list.html">Home</a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog">
                </span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../../widget-list.html">About</a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog">
                </span>
            </a>
        </li>
        <li class="list-group-item">
            <a href="../../widget-list.html">Contact Us</a>
            <a href="page-edit.view.client.html" class="pull-right">
                <span class="glyphicon glyphicon-cog">
                </span>
            </a>
        </li>
    </ul>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="../user/profile.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>