<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid row">
        <div class="col-xs-4 hidden-xs">
            <div class="navbar-header">
                <a href="page-list.view.client.html" class="navbar-text navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
                <a class="navbar-brand" href="#">
                    Pages
                </a>
                <p class="navbar-text pull-right">
                    <a href="page-new.view.client.html" class="navbar-link">
                        <span class="glyphicon glyphicon-plus">
                        </span>
                    </a>
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8">
            <div class="navbar-header">
                <a href="page-list.view.client.html" class="navbar-text pull-left navbar-link visible-xs">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
                <a class="navbar-brand" href="#">
                    New Page
                </a>
                <p class="navbar-text pull-right">
                    <a href="page-list.view.client.html" class="navbar-link">
                        <span class="glyphicon glyphicon-ok">
                        </span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>

<div class="col-xs-4 hidden-xs v-divider">
    <div class="row container-fluid">
        <ul class="list-group">
            <li class="list-group-item">
                <a href="../widget/widget-list.view.client.html">Blog Post</a>
                <a href="page-edit.view.client.html" class="pull-right">
                    <span class="glyphicon glyphicon-cog">
                    </span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../widget/widget-list.view.client.html">Blogs</a>
                <a href="page-edit.view.client.html" class="pull-right">
                    <span class="glyphicon glyphicon-cog">
                    </span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../widget/widget-list.view.client.html">Home</a>
                <a href="page-edit.view.client.html" class="pull-right">
                    <span class="glyphicon glyphicon-cog">
                    </span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../widget/widget-list.view.client.html">About</a>
                <a href="page-edit.view.client.html" class="pull-right">
                    <span class="glyphicon glyphicon-cog">
                    </span>
                </a>
            </li>
            <li class="list-group-item">
                <a href="../widget/widget-list.view.client.html">Contact Us</a>
                <a href="page-edit.view.client.html" class="pull-right">
                    <span class="glyphicon glyphicon-cog">
                    </span>
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="col-xs-12 col-sm-8">
    <form>
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Page Name"/>
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" placeholder="Page Title"/>
        </div>
    </form>
</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-footer">
            <p class="navbar-text pull-right">
                <a href="../user/profile.view.client.html" class="navbar-link">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>