<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                Login
            </a>
        </div>
    </div>
</nav>

<div class="container">
    <form>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" id="username" placeholder="Type your username">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Type your password">
        </div>
        <a class="btn btn-primary btn-block" href="profile.view.client.html">Login</a>
        <a class="btn btn-success btn-block" href="register.view.client.html">Register</a>
    </form>
</div>