<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page"
               class="navbar-text pull-left navbar-link">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
            <a class="navbar-brand">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-plus">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<!--<div class="container">
    <div class="list-group">
        <div class="relative-position">
            <h1>GIZMODO</h1>
            <div class="list-element-menu">
                <a href="widget-heading.view.client.html"><span class="glyphicon glyphicon-cog"></span></a>
                <a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            </div>
        </div>
        <div class="relative-position">
            <h3>US Senate Reaches Compromise on Emergency Zika Funding</h3>
            <div class="list-element-menu">
                <a href="widget-heading.view.client.html"><span class="glyphicon glyphicon-cog"></span></a>
                <a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            </div>
        </div>
        <div class="relative-position">
            <img class="img-responsive" src="https://i.kinja-img.com/gawker-media/image/upload/s--47gmJqRi--/c_scale,fl_progressive,q_80,w_800/dw3l4m5ulgn6qqlhr7om.png" alt="Zika Virus"/>
            <div class="list-element-menu">
                <a href="widget-image.view.client.html"><span class="glyphicon glyphicon-cog"></span></a>
                <a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            </div>
        </div>
        <br>
        <div class="relative-position">
            <p>In February, the White House formally asked Congress for $1.8 billion dollars to help combat the Zika virus this summer. Now, the Senate has worked out a bipartisan deal will allocate $1.1 billion in emergency funding.</p>
            <div class="list-element-menu">
                <a href="#"><span class="glyphicon glyphicon-cog"></span></a>
                <a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            </div>
        </div>
        <div class="relative-position">
            <h3>Man in Wingsuit Flies Straight Through a Ring of Fire</h3>
            <div class="list-element-menu">
                <a href="widget-heading.view.client.html"><span class="glyphicon glyphicon-cog"></span></a>
                <a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            </div>
        </div>
        <div class="relative-position">
            <div class="embed-responsive embed-responsive-4by3 youtube-widget">
                <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/uLWLashCXHE" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="list-element-menu">
                <a href="widget-youtube.view.client.html"><span class="glyphicon glyphicon-cog"></span></a>
                <a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            </div>
        </div>
        <br>
        <div class="relative-position">
            <p>Flying in a wingsuit? That’s just not enough anymore. Anyone could do that (I would never do that). You have to make it more extreme, like by hitting a target while you’re cutting through the air at crazy speeds. Or by making that target a small ring that you have to somehow fly through. Or by lighting that ring on fire. Or by... actually, that should be extreme enough for now.</p>
            <div class="list-element-menu">
                <a href="#"><span class="glyphicon glyphicon-cog"></span></a>
                <a href="#"><span class="glyphicon glyphicon-menu-hamburger"></span></a>
            </div>
        </div>
    </div>
</div>-->

<div class="container">
    <div ng-switch="widget.widgetType"
         ng-repeat="widget in model.widgets">
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}"
           class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
        <div ng-switch="widget.size" ng-switch-when="HEADER">
            <h1 ng-switch-when="1">{{widget.text}}</h1>
            <h2 ng-switch-when="2">{{widget.text}}</h2>
            <h3 ng-switch-when="3">{{widget.text}}</h3>
            <h4 ng-switch-when="4">{{widget.text}}</h4>
            <h5 ng-switch-when="5">{{widget.text}}</h5>
            <h6 ng-switch-when="6">{{widget.text}}</h6>
        </div>
        <div ng-switch-when="YOUTUBE">
            <iframe width="560" height="315"
                    ng-src="{{model.checkSafeYouTubeUrl(widget.url)}}"
                    frameborder="0" allowfullscreen></iframe>
        </div>
        <div ng-switch-when="IMAGE">
            image
        </div>
        <div ng-switch-when="HTML" ng-bind-html="model.checkSafeHtml(widget.text)">
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-footer">
            <a class="navbar-text pull-left navbar-link">
                <span class="glyphicon glyphicon-play">
                </span>
            </a>
            <a class="navbar-text pull-left navbar-link">
                <span class="glyphicon glyphicon-eye-open">
                </span>
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>