<div class="scroll-y">
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page"
               class="navbar-text pull-left navbar-link">
                <span class="glyphicon glyphicon-chevron-left">
                </span>
            </a>
            <a class="navbar-brand">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/new"
                   class="navbar-link">
                    <span class="glyphicon glyphicon-plus">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>

<div class="container jga-sortable">
    <div ng-switch="widget.type"
         ng-repeat="widget in model.widgets">
        <a class="pull-right">
            <span class="glyphicon glyphicon-menu-hamburger"></span>
        </a>
        <a href="#/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/widget/{{widget._id}}"
           class="pull-right">
            <span class="glyphicon glyphicon-cog"></span>
        </a>
        <div ng-switch="widget.size" ng-switch-when="HEADER">
            <h1 ng-switch-when="1">{{widget.text}}</h1>
            <h2 ng-switch-when="2">{{widget.text}}</h2>
            <h3 ng-switch-when="3">{{widget.text}}</h3>
            <h4 ng-switch-when="4">{{widget.text}}</h4>
            <h5 ng-switch-when="5">{{widget.text}}</h5>
            <h6 ng-switch-when="6">{{widget.text}}</h6>
        </div>
        <div ng-switch-when="YOUTUBE" class="youtube-widget embed-responsive embed-responsive-4by3">
            <iframe class="embed-responsive-item" width="{{widget.width}}"
                    ng-src="{{model.checkSafeYouTubeUrl(widget.url)}}"
                    frameborder="0" allowfullscreen></iframe>
        </div>
        <div ng-switch-when="IMAGE" class="container">
            <img ng-src="{{widget.url}}" class="img-responsive" alt="Widget Image" width="{{widget.width}}">
        </div>
        <div ng-switch-when="HTML" ng-bind-html="model.checkSafeHtml(widget.text)">
        </div>
    </div>
</div>


<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="navbar-footer">
            <a class="navbar-text pull-left navbar-link">
                <span class="glyphicon glyphicon-play">
                </span>
            </a>
            <a class="navbar-text pull-left navbar-link">
                <span class="glyphicon glyphicon-eye-open">
                </span>
            </a>
            <p class="navbar-text pull-right">
                <a href="#/user/{{model.userId}}" class="navbar-link">
                    <span class="glyphicon glyphicon-user">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>
</div>